In [2]:
##Assignment 1 == > Task 1 == > Question 1
#Install Jupyter notebook and run the first program and share the screenshot of the output.

list('siddharth')

['s', 'i', 'd', 'd', 'h', 'a', 'r', 't', 'h']

In [178]:
#Assignment 1 == > Task 2 == > Question 2
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple
#of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
#comma-separated sequence on a single line.
output=[] 
startNumber = 2000 # input(startNumber)
endEnumber = 3200  # input(endEnumber)
for val in range(startNumber,endEnumber + 1):      
   isNumDivBy7 = val % 7 == 0
   isNumMultipleOf5 = (val % 5) == 0
   if (isNumMultipleOf5 == False and isNumDivBy7 ) :
        output.append(str(val)) 
else:       
    print(','.join(output))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [181]:
##Assignment 1 == > Task 1 == > Question 3
#Write a Python program to accept the user's first and last name and then getting them printed in
#the the reverse order with a space between first name and last name.
firstName = input("Enter your first  name? ")
lastName = input("Enter your last  name? ")
#reverse order with a space between first name and last name.
print(firstName[::-1] + " " +lastName[::-1])

Enter your first  name? siddharth
Enter your last  name? jyoti
htrahddis itoyj

In [182]:
#Assignment 1 == > Task 1 == > Question 4
#Write a Python program to find the volume of a sphere with diameter 12 cm.
#Formula: V=4/3 * Ï€ * r3

pi = 3.1415926535897931
diameter= 12.0
volume= 4.0/3.0*pi* diameter**3
print('The volume is: ',volume)

The volume is:  7238.229473870882

In [183]:
#Assignment 1 == > Task 2 == > Question 1
#Write a program which accepts a sequence of comma-separated numbers from console and
#generate a list.
commaSeperatedVals = input("Enter comma seperated Values")
print(commaSeperatedVals.split(','))

Enter comma seperated Values1,4,5,6
['1', '4', '5', '6']

In [198]:
"""Assignment 1 == > Task 2 == > Question 2
Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
* """
maxNumberOfStars = 5
for i in range(maxNumberOfStars):
    for j in range(i):
        print ('* ', end="") # Appends a space instead of a newline

    print('')

for i in range(maxNumberOfStars,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [197]:
"""Assignment 1 == > Task 2 == > Question 3
Write a Python program to reverse a word after accepting the input from the user.
"""
word = input(' Input word')
print(word[::-1])

 Input wordsiddharth
htrahddis

In [227]:
"""Assignment 1 == > Task 2 == > Question 4
Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens"""

print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN, ! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC, \n\t\tand to secure to all its citizens.")
userInput = input("Enter the first sentence")
userInput2 = input("Enter the second sentence")

completeInput = userInput + "\n\t\t{} {},."                     
print("{}  {}!".format(userInput, userInput2))

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC,
		and to secure to all its citizens.
Enter the first sentenceSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
Enter the second sentenceSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC  SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC!

In [196]:
name = []
name.append('sidd')
name.append('arth')
name.insert(1,'h')
name

['sidd', 'h', 'arth']

In [6]:
for letters in name:
    print(letters)

sidd
h
arth

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
company = ['DELL','Aditi Technologies']
for name in company:
    print("I work for " +name)

I work for DELL
I work for Aditi Technologies

In [15]:
for val in "string":
    if val == "i":
        break
    print(val)
else:
    print("here you go else")


print("The end")

s
t
r
The end

In [12]:
list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

In [24]:
# Beauty of storing string as a sequence. Use Index to get the elements
name = "Siddharth Jyoti"
for index in range(len(name)):
    print(name[index])

S
i
d
d
h
a
r
t
h

J
y
o
t
i

In [27]:
name[1:] # get from position 1 to last

'iddharth Jyoti'

In [29]:
name[:4] # My nick name

'Sidd'

In [30]:
name[:] # my full name

'Siddharth Jyoti'

In [32]:
name[:-1]

'Siddharth Jyot'

In [35]:
name[:-6] # remove my surname

'Siddharth'

In [36]:
name[::2] # jump in 2 steps of my name

'SdhrhJoi'

In [37]:
name[::-1] # name in reverse

'itoyJ htrahddiS'

In [38]:
#string is immutable
name[0] = "i" # we would recieve TypeError

TypeError: 'str' object does not support item assignment

In [39]:
name + " works for Dell"

'Siddharth Jyoti works for Dell'

In [47]:
name  * 2 #print my name 2 times

'Siddharth JyotiSiddharth Jyoti'

In [48]:
name.split() # split by space

['Siddharth', 'Jyoti']

In [53]:
#Print Formatting ".format()" method is used to add formatted objects to the printed string statements. 
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

In [56]:
name.count('i') # no of times character appears in string

2

In [57]:
name.center(20,'z')

'zzSiddharth Jyotizzz'

In [60]:
'siddharth\tJyoti'.expandtabs()

'siddharth       Jyoti'

In [64]:
" s ".isspace()

False

In [65]:
print(name.split('r'))
print(name.partition('r')) #returns tuples that includes the seperator

['Siddha', 'th Jyoti']
('Siddha', 'r', 'th Jyoti')

In [80]:
company.append('IBMM')
print(company[:1])
print(company[1:]) #word at index 1 onwards
print(company[::2]) #jump 1 word from the list
print(company[:-1])

['DELL', 'Aditi Technologies', 'IBM', 'IBM', 'IBM', 'IBM', 'IBMM', 'IBMM', 'IBMM', 'IBMM', 'IBMM', 'IBMM', 'IBMM', 'IBMM']

In [117]:
#company + ['VMWare'] #concatenated new company name in the list 
#company = company + ['VMWare'] #permanent addition of new item in the list
#company * 2 #Make the list double
company.pop(0)
company

['VMWare',
 'VMWare',
 'VMWare',
 'VMWare',
 'VMWare',
 'VMWare',
 'VMWare',
 'VMWare',
 'VMWare',
 'VMWare',
 'VMWare',
 'VMWare']

In [123]:
company.reverse()
print(company)

['VMWare', 'VMWare', 'VMWare', 'VMWare', 'VMWare', 'VMWare', 'VMWare', 'VMWare', 'VMWare', 'VMWare', 'VMWare', 'VMWare']

In [130]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]
matrix[0][0]

1

In [134]:
first_col = [row[0] for row in matrix] #siddharth wants you to see the sign []
first_col

[1, 4, 7]

In [135]:
#focus on append and extend
x = [1, 2, 3]
x.extend([4, 5])
print(x)
x.append([4, 5])
print(x)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, [4, 5]]

In [136]:
x.insert(2,'siddharth')
print(x)

[1, 2, 'siddharth', 3, 4, 5, [4, 5]]

In [138]:
l = [1,2,3,4,3]
l.pop(3) #index starts from -1
print(l)

[1, 2, 3, 3]

In [139]:
l = [1,2,3,4,3]
l.remove(3) #remove 1st occurance of 3
print(l)

[1, 2, 4, 3]